.taskbar{
    background-color: rgb(20, 20, 20);
    width: 2545px;
    height: 100px;
    position: sticky;
    top: 0px;
    left: -18px;
    z-index: 1;
    color: white;
}
.logo{
    position: relative;
    top: 10px;
    left: 75px;
    height: 120px;
}
.showcase{
    position: relative;
    top: -16px;
    left: -8px;
    z-index: -1;
}
html{
    background-image: linear-gradient(to bottom right, rgb(56, 56, 56) , rgb(0, 0, 0));
}
.title{
        background-color: #f3ec78;
        background-image: linear-gradient(45deg, #ffffff, #ffcc5d);
        background-size: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-family: bebas neue;
        font-size: 7rem;
        position: relative;
        font-weight: 200;
        top: -1100px;
        left: 200px;
        margin-bottom: 0%;
        padding-top: 0%;
        
}
div.slide-right {
    width:100%;
    overflow:hidden;
  }
  div.slide-right p {
    animation: 2s slide-right;
  }
  
  @keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .taskbar-buttons{
    position: relative;
    font-family: bebas neue;
    font-size: 1.7rem;
    top: -90px;
    left: 250px;
    color: white;
  }
  .overview{
    color: black;
    background-color: white;
    width: 2545px;
    height: 6000px;
    font-family: bebas neue;
    position: relative;
    top: -400px;
  }
  .overviewtext{
    position: relative;
    top: 250px;
    left: 250px;
  }